.navbar {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: #333;
    /* Couleur de fond de la navbar */
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    /* Couleur du texte des liens */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    /* Couleur de fond au survol */
    color: black;
    /* Couleur du texte au survol */
}

.profil h1, .profil p {
    box-shadow: 0 4px 8px rgb(82, 136, 89);
    display: flex;
    justify-content: center;
}

.photodeprofil {
    box-shadow: 0 4px 8px gray;
    display: flex;
    justify-content: center;
}

img {
    border-radius: 50%;
}

figcaption {
    display: flex;
    justify-content: center;
}

header h2, header p {
    display: flex;
    justify-content: center;
}

header {
    box-shadow: 0 4px 8px rgb(119, 53, 114);
}

.description {
    box-shadow: 0 4px 8px rgb(9, 224, 38);
}